{% extends "base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h1>主题列表</h1>
{% endblock header %}
{% block content %}
     <h3><a href="{% url 'learning_logs:new_topic'%}">增加新主题</a></h3>
     {% for topic in topics%}
         <div class="list-group">
             <h3 class="list-group-item-heading">
                 <a href="{% url 'learning_logs:topic' topic.id %}" class="list-group-item">{{topic.text}}</a>
             </h3>
         </div>
         {% empty %}
         <li>还没添加任何主题</li>
     {% endfor %}

{% endblock content %}